:root {
  --blue-color: #2196F3;
  --main-font-color: #212121;
  --border-grey-color: #EEEEEE;
  --main-white-color: #FFFFFF;
  --background-grey-color: #2F303A;
  --light-gray-color: #F5F4FA;
  --description-color: #757575;
  --section-light-coolor: #E5E5E5;
  --border-color: #ECECEC;
  --font-logo: 26px;
  --font-header: 44px;
  --font-title: 36px;
  --font-name: 18px;
  --font-description: 16px;
  --font-text: 14px;
  --font-logo-lh: 30.52;
  --font-header-lh: 1.36;
  --font-title-lh: 1.17;
  --font-name-lh: 1.17;
  --font-description-lh: 1.17;
  --font-text-lh: 1.72;
  --btn-lh: 1.87;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--main-white-color);
  color: var(--main-font-color);
  font-size: var(--font-text);
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

footer {
  background-color: var(--background-grey-color);
  color: var(--main-white-color);
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .nav-container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    max-width: 480px;
  }
  .nav__logo {
    padding: 16px 0;
  }
  .nav__links-list {
    display: none;
  }
  .nav__links-list__header-contacts-list {
    display: none;
  }
  .nav__header-contacts-list {
    display: none;
  }
  .mobile-menu {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    margin: 12px 8px;
  }
  .mobile-menu {
    fill: var(--main-font-color);
  }
  .mobile-menu svg {
    width: 24px;
    height: 16px;
  }
  .mobile-menu:hover {
    fill: var(--blue-color);
  }
  .close-menu {
    fill: var(--main-font-color);
    cursor: pointer;
  }
  .close-menu:hover {
    fill: var(--blue-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-container {
    max-width: 738px;
    margin: 0 auto;
  }
  .nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 768px;
    margin: 0;
    padding: 0;
  }
  .nav__logo {
    padding: 26px 0;
    margin-right: 43px;
  }
  .nav__links-list {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    column-gap: 60px;
    font-weight: 500;
    color: var(--main-font-color);
  }
  .nav__header-contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-sizing: border-box;
    margin-left: 101px;
    padding: 0;
    font-size: 12px;
  }
  .nav__header-contacts-list li {
    display: inline;
    width: 131px;
  }
  .nav-list__link--page-link {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-font-color);
    position: relative;
  }
  .nav-list__link--page-link:hover, .nav-list__link--page-link:after {
    color: var(--blue-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link--page-link:hover::after {
    width: 100%;
    left: 0;
  }
  .nav-list__link--page-link::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    bottom: -32px;
    background: var(--blue-color);
    width: 0;
    border-radius: 2px;
    right: 0;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link--page-link-active {
    text-decoration: none;
    color: var(--blue-color);
    position: relative;
  }
  .nav-list__link--page-link-active::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    bottom: -32px;
    background: var(--blue-color);
    width: 0;
    border-radius: 2px;
    right: 0;
    width: 100%;
  }
  .header-contact__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--description-color);
    position: relative;
    fill: var(--description-color);
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: var(--blue-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--blue-color);
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container {
    width: 1200px;
    margin: 0 auto;
  }
  .nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 1200px;
  }
  .nav__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  .nav__links-list {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    column-gap: 46px;
    font-weight: 500;
    color: var(--main-font-color);
  }
  .nav__header-contacts-list {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    column-gap: 30px;
    margin-left: 345px;
    padding-left: 0;
  }
  .nav-list__link--page-link {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-font-color);
    position: relative;
  }
  .nav-list__link--page-link:hover, .nav-list__link--page-link:after {
    color: var(--blue-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link--page-link:hover::after {
    width: 100%;
    left: 0;
  }
  .nav-list__link--page-link::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    bottom: -32px;
    background: var(--blue-color);
    width: 0;
    border-radius: 2px;
    right: 0;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link--page-link-active {
    text-decoration: none;
    color: var(--blue-color);
    position: relative;
  }
  .nav-list__link--page-link-active:hover, .nav-list__link--page-link-active:focus {
    color: var(--blue-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link--page-link-active:hover::after {
    width: 100%;
    left: 0;
  }
  .nav-list__link--page-link-active::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    bottom: -32px;
    background: var(--blue-color);
    width: 0;
    border-radius: 2px;
    right: 0;
    width: 100%;
  }
  .header-contact__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--description-color);
    position: relative;
    fill: var(--description-color);
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: var(--blue-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--blue-color);
  }
  .header-contact__link::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    bottom: -32px;
    background: var(--blue-color);
    width: 0;
    border-radius: 2px;
    right: 0;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact__link:hover::after {
    width: 100%;
    left: 0;
  }
  .header-contact__link::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    bottom: -32px;
    background: var(--blue-color);
    width: 0;
    border-radius: 2px;
    right: 0;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu {
    display: none;
  }
}

.mobile-box {
  position: fixed;
  box-sizing: border-box;
  min-width: 100%;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  left: 0;
  top: 0;
  background-color: var(--main-white-color);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
  padding: 0;
  margin: 0 0;
  z-index: 3;
}

.mobile-box__close {
  position: absolute;
  right: 25px;
  top: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-box__btn {
  background-color: var(--main-white-color);
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-box__btn svg {
  width: 19px;
  height: 19px;
}

.nav-mobile__links-list {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 302px;
  list-style: none;
  margin-top: 48px;
}

.nav-mobile__contact {
  color: var(--description-color);
  margin-bottom: 64px;
  list-style: none;
}

.nav-mobile__social-list {
  color: var(--blue-color);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.nav-link {
  margin-bottom: 32px;
}

.nav-link a {
  text-decoration: none;
  color: var(--main-font-color);
}

.nav-link a:hover {
  color: var(--blue-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link--phone {
  margin-bottom: 32px;
}

.contact-link--phone a {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  color: var(--blue-color);
}

.contact-link--mail a {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: var(--description-color);
}

.social-link a {
  color: var(--blue-color);
  text-decoration: none;
  list-style: none;
}

.social-link::after {
  content: "|";
  color: rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}

.social-link:last-child::after {
  content: "";
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: var(--font-logo);
  text-decoration: none;
  line-height: var(--font-name-lh);
  font-weight: 700;
  text-decoration: none;
  color: var(--main-font-color);
}

.logo--color {
  color: var(--blue-color);
}

.footer-box__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: var(--font-logo);
  text-decoration: none;
  line-height: var(--font-name-lh);
  font-weight: 700;
  text-decoration: none;
  color: var(--main-white-color);
}

.footer-box__logo--color {
  color: var(--blue-color);
}

.footer-box__logo--footer {
  text-decoration: none;
  color: var(--main-white-color);
  margin-bottom: 20px;
}

.main-title {
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 30px;
}

.main-title__heading {
  color: var(--main-white-color);
  line-height: var(--font-header-lh);
  text-align: center;
  letter-spacing: 0.06em;
}

.main-title__button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--main-white-color);
  font-size: var(--font-description);
  line-height: var(--btn-lh);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-title__button:hover, .main-title__button:focus {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .main-title {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img-small@2.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .main-title {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img-medium@2.jpg");
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-title {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img@2.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .main-title {
    padding: 94px 0;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img-small.jpg");
    background-size: cover;
    height: 400px;
    width: 100vw;
  }
  .main-title__heading {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .main-title {
    padding: 60px 0;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img-medium.jpg") no-repeat top center;
    background-size: cover;
    height: 400px;
  }
  .main-title__heading {
    font-size: var(--font-header);
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    padding: 94px 0;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img.jpg") no-repeat top center;
    height: 600px;
  }
  .main-title__heading {
    font-size: var(--font-header);
  }
}

.section-features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.section-features__article {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section-features {
    justify-content: center;
    max-width: 480px;
    padding: 60px 15px;
  }
  .section-features__article {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-features {
    column-gap: 30px;
    max-width: 738px;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0 45px;
  }
  .section-features__article {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features {
    justify-content: space-between;
    width: 1200px;
    padding: 94px 0;
  }
  .section-features__article {
    width: 270px;
  }
}

.article__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--light-gray-color);
}

.article__heading {
  font-size: var(--font-text);
  line-height: var(--font-text-lh);
  margin-top: 30px;
  margin-bottom: 10px;
}

.article__paragraph {
  color: var(--description-color);
  letter-spacing: 0.03em;
  line-height: var(--font-text-lh);
  margin-top: 0;
}

@media screen and (min-width: 320px) {
  .article__icon {
    max-width: 450px;
    margin: 0;
    border-radius: 4px;
    background-color: var(--light-gray-color);
  }
  .article__heading {
    align-self: center;
  }
  .article__paragraph {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .article__icon {
    max-width: 354px;
    column-gap: 30px;
  }
  .article__paragraph {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .article__icon {
    border-radius: 4px;
    background-color: var(--light-gray-color);
  }
  .article__paragraph {
    width: 270px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do {
    padding-top: 0;
    padding-bottom: 94px;
  }
  .what-we-do__heading {
    text-align: center;
    margin: 0px auto 50px auto;
    letter-spacing: .03em;
    font-size: var(--font-title);
    text-align: center;
    margin: 0px auto 50px auto;
    letter-spacing: .03em;
  }
  .what-we-do__photos {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .what-we-do-img {
    margin: 0;
    list-style: none;
  }
  .what-we-do-box {
    position: relative;
    overflow: hidden;
  }
  .what-we-do-box .label {
    position: absolute;
    top: 224px;
    width: 100%;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.03em;
    background: rgba(47, 48, 58, 0.8);
    color: var(--main-white-color);
  }
}

.team {
  background-color: var(--light-gray-color);
}

.team__heading-box {
  text-align: center;
  margin: 0px auto;
  letter-spacing: .03em;
}

.team__heading-box h2 {
  font-size: var(--font-title);
  line-height: var(--font-title-lh);
}

.team__members-box {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .team {
    padding: 30px 15px;
  }
  .team__heading-box {
    height: 123px;
  }
  .team__members-box {
    max-width: 450px;
    justify-content: center;
    row-gap: 30px;
    flex-wrap: wrap;
    padding: 0 0 60px 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team {
    padding: 30px 0;
  }
  .team__heading-box {
    padding: 0;
  }
  .team__members-box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0 0 30px 0;
  }
  .team__members-box .member {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team__heading-box {
    padding: 0px 0 50px 0;
  }
  .team__members-box {
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

.member {
  padding: 0;
  margin: 0;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member__profile {
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile__photo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile__name {
  font-size: var(--font-description);
  font-weight: 500;
  text-align: center;
  margin: 30px auto 0 auto;
  letter-spacing: .03em;
  line-height: var(--font-description-lh);
  color: var(--main-font-color);
}

.profile__description {
  color: var(--description-color);
  line-height: var(--btn-lh);
  text-align: center;
  margin: 10px auto 16px auto;
  letter-spacing: .03em;
}

.icon-box {
  width: 44px;
  height: 44px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icon-box__svg {
  align-self: center;
  fill: #AFB1B8;
}

.icon-box:hover, .icon-box:focus {
  background-color: var(--blue-color);
}

.icon-box:hover .icon-box__svg, .icon-box:focus .icon-box__svg {
  fill: var(--main-white-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .member {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .member__icons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 24px;
  }
  .profile__photo {
    max-width: 450px;
    max-height: 460px;
    flex-direction: column;
  }
  .profile__photo img {
    object-fit: cover;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .member {
    display: flex;
    flex-direction: column;
  }
  .member__icons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 24px;
  }
  .profile__photo {
    max-width: 354px;
    max-height: 460px;
  }
  .profile__photo img {
    object-fit: cover;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .member {
    height: 428px;
  }
  .member__icons {
    display: flex;
    justify-content: space-between;
    margin: 0 32px 30px 32px;
  }
  .profile__photo {
    width: 270px;
    height: 260px;
    display: flex;
  }
}

.customers__heading-box {
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers__heading-box h2 {
  letter-spacing: 0.03em;
  font-size: var(--font-title);
  padding-bottom: 0;
}

.customers-logos {
  display: flex;
  align-items: center;
}

.customers-logos__item {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.customers-logos__item svg {
  fill: #afb1b8;
  align-self: center;
}

.customers-logos__item:hover, .customers-logos__item:focus {
  border: 1px solid var(--blue-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logos__item:hover svg,
.customers-logos__item:focus svg {
  fill: var(--blue-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .customers__heading-box h2 {
    padding-top: 30px;
  }
  .customers-logos {
    justify-content: space-around;
    padding-bottom: 86px;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 0 auto;
    row-gap: 30px;
  }
  .customers-logos__item {
    width: 210px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customers__heading-box h2 {
    padding-top: 60px;
  }
  .customers-logos {
    max-width: 738px;
    padding-bottom: 60px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .customers-logos__item {
    width: 226px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .customers__heading-box h2 {
    padding-top: 94px;
  }
  .customers-logos {
    justify-content: space-around;
    padding-bottom: 86px;
  }
  .customers-logos__item {
    width: 170px;
  }
}

.footer-container__join-us-box p {
  color: var(--main-white-color);
  font-weight: bold;
  font-size: var(--font-text);
  line-height: var(--font-text-lh);
  letter-spacing: 0.03em;
}

.foot-contacts-list {
  list-style: none;
}

.foot-contacts-list__item--address {
  line-height: 1.72;
  letter-spacing: .03em;
  color: var(--main-white-color);
  font-style: normal;
  text-decoration: none;
}

.foot-contacts-list__item--mail-and-phone {
  line-height: 1.72;
  letter-spacing: .03em;
  color: var(--main-white-color);
  font-style: normal;
  text-decoration: none;
  opacity: 60%;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons__box {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 45px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.footer-icons__box:hover, .footer-icons__box:focus {
  background-color: var(--blue-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons__box svg {
  fill: var(--main-white-color);
  align-self: center;
}

.subscribe-box__label {
  color: var(--main-white-color);
  font-size: var(--font-text);
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.subscribe-box__label input {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-white-color);
}

.subscribe-box__label input::placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
}

.subscribe-box__label input:hover, .subscribe-box__label input:focus, .subscribe-box__label input:active {
  border: 1px solid var(--blue-color);
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subsribe-btn {
  max-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--main-white-color);
  font-size: var(--font-description);
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.subsribe-btn__icon {
  fill: var(--main-white-color);
  margin: 13px 0 0 24px;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .footer-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 603px;
  }
  .footer-container__contact {
    display: inline-block;
    text-align: center;
  }
  .footer-container__join-us-box {
    display: inline-block;
    vertical-align: top;
    max-width: 450px;
  }
  .footer-container__subscribe-box-form {
    display: inline-block;
    vertical-align: top;
    align-items: center;
  }
  .footer-container__button-box {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--main-white-color);
    font-size: var(--font-description);
    line-height: var(--btn-lh);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .foot-contacts-list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .foot-contacts-list__item--address {
    margin: 0 auto 8px auto;
    padding: 0;
  }
  .foot-contacts-list__item--mail-and-phone {
    display: block;
    margin: 0 auto 8px auto;
  }
  .footer-icons {
    column-gap: 10px;
    max-width: 450px;
  }
  .subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe-box__label {
    margin-top: 1em;
    margin: 0 15px;
  }
  .subscribe-box__label input {
    width: calc(100vw - 30px);
    height: 50px;
    padding: 16px;
  }
  .join-us-box {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
  }
  .join-us-box p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 150px 83px;
    padding: 0;
    justify-content: stretch;
    justify-items: stretch;
    grid-template-areas: "contact join-us-box" "subscribe subscribe" "button-box button-box";
    height: 463px;
  }
  .footer-container__contact {
    justify-self: center;
    align-self: end;
    grid-area: contact;
  }
  .footer-container__join-us-box {
    grid-area: join-us-box;
    align-self: end;
  }
  .footer-container__subscribe-box-form {
    grid-area: subscribe;
    align-self: end;
    margin-bottom: 20px;
  }
  .footer-container__button-box {
    grid-area: button-box;
    margin: 0 auto;
    align-self: start;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--main-white-color);
    font-size: var(--font-description);
    line-height: var(--btn-lh);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .foot-contacts-list {
    margin: 0;
  }
  .subscribe-box__label input {
    width: 450px;
    height: 50px;
  }
  .join-us-box {
    align-self: start;
  }
  .join-us-box p {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }
  .footer-container__contact {
    display: inline-block;
    width: 247px;
    margin-right: 70px;
  }
  .footer-container__join-us-box {
    display: inline-block;
    vertical-align: top;
  }
  .footer-container__subscribe-box-form {
    display: inline-block;
    vertical-align: top;
  }
  .footer-container__button-box {
    display: inline-block;
    vertical-align: top;
    margin-top: 48px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--main-white-color);
    font-size: var(--font-description);
    line-height: var(--btn-lh);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .foot-contacts-list {
    padding: 20px 0 60px 0;
    margin: 0;
  }
  .footer-icons {
    margin-right: 78px;
  }
  .footer-icons__box {
    margin-right: 10px;
  }
  .subscribe-box {
    display: inline-block;
    vertical-align: top;
  }
  .subscribe-box__label {
    margin-top: 1em;
    margin-right: 12px;
    text-align: left;
  }
  .subscribe-box__label input {
    width: 358px;
    height: 50px;
    padding: 16px;
  }
  .join-us-box {
    align-self: start;
    padding: 0;
  }
  .join-us-box p {
    text-align: left;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) {
  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal__form-box {
    box-sizing: border-box;
    max-width: 450px;
    height: 609px;
    background-color: var(--main-white-color);
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .modal__data-form {
    display: block;
    padding: 93px 15px 0;
    color: var(--description-color);
  }
  .modal__submit-form-btn {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--main-white-color);
    font-size: var(--font-description);
    line-height: var(--btn-lh);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto 0;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: fixed;
    max-width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal__form-box {
    box-sizing: border-box;
    max-width: 528px;
    height: 581px;
    background-color: var(--main-white-color);
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .modal__data-form {
    display: block;
    padding: 40px 40px 0;
    color: var(--description-color);
  }
  .modal__submit-form-btn {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--main-white-color);
    font-size: var(--font-description);
    line-height: var(--btn-lh);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 164px;
    margin-top: 30px;
  }
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close__btn {
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close svg {
  fill: black;
}

.data-form {
  display: block;
  padding: 40px 40px 0;
  color: var(--description-color);
  font-size: 12px;
}

.data-form input {
  border: none;
}

.data-form__paragraph {
  font-size: 20px;
  text-align: center;
  letter-spacing: .03em;
  max-width: 100%;
  color: var(--main-font-color);
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
}

.data-form__label {
  display: flex;
  flex-direction: column;
  color: var(--description-color);
  font-size: 12px;
}

.data-form__label span {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 4px 0 10px 0;
}

.data-form__label span svg {
  fill: var(--main-font-color);
  margin: 15px;
}

.data-form__label span:hover {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--blue-color);
  outline: none;
  fill: var(--blue-color);
}

.data-form__label span:hover svg {
  fill: var(--blue-color);
}

.data-form__label input {
  outline: none;
}

.data-form__label__policy-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

textarea {
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin: 10px 0;
}

textarea:hover, textarea:focus, textarea:active {
  border: 1px solid var(--blue-color);
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox__default {
  display: none;
}

.policy-checkbox__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.policy-checkbox__checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 2px solid #000;
  border-radius: 4px;
  margin-right: 7px;
}

.policy-checkbox__checkbox span {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .03em;
  color: var(--description-color);
}

.policy-checkbox__checkbox span a {
  color: var(--blue-color);
  text-decoration: underline;
}

.policy-checkbox__default:checked + .policy-checkbox__checkbox::before {
  background-color: var(--blue-color);
  outline: 2px solid var(--blue-color);
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .data-form__paragraph {
    line-height: 150%;
  }
  textarea {
    height: 96px;
  }
}

@media screen and (min-width: 768px) {
  .data-form__paragraph {
    line-height: 0px;
  }
  textarea {
    height: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .data-form__paragraph {
    line-height: 0px;
  }
  textarea {
    height: 118px;
  }
}

.filters {
  display: flex;
  column-gap: 8px;
}

.filters-list {
  list-style: none;
}

.filters-list__button:hover, .filters-list__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__button button {
  width: 100%;
  background-color: var(--light-gray-color);
  font-weight: bold;
  color: var(--main-font-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  line-height: 1.62;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__button button:hover, .filters-list__button button:focus {
  background-color: var(--blue-color);
  color: var(--main-white-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .filters {
    justify-content: flex-start;
    padding: 0;
  }
  .filters__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 8px;
    justify-content: stretch;
    justify-items: stretch;
    padding: 0;
  }
  .filters-list {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .filters {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .filters__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }
  .filters-list {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    align-items: center;
    justify-content: center;
  }
  .filters__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }
  .filters-list {
    margin-top: 94px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .projects-main-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    gap: 30px;
    list-style: none;
    margin: 40px auto 60px auto;
  }
  .projects-main-list__item {
    border: 1px solid var(--border-grey-color);
  }
  .projects-main-list__item:hover, .projects-main-list__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .projects-main-list__item:hover .project__project-overlay {
    transform: translatey(0);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  .project__img-box-overlay {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .project__project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(140%);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project__project-overlay > p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
  }
  .project__project-overlay p {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
    max-width: 301px;
    margin: 49px 45px 49px 24px;
  }
  .project__name-portfolio {
    font-size: var(--font-name);
    font-weight: 500;
    line-height: 2;
    padding: 20px 24px 0 24px;
  }
  .project__description-portfolio {
    font-size: var(--font-description);
    color: var(--description-color);
    line-height: var(--btn-lh);
    padding: 4px 24px 20px 24px;
  }
  .project-img {
    width: 100%;
    max-height: 294px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .projects-main-list {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-template-rows: auto;
    list-style: none;
    max-width: 738px;
    padding: 0;
    gap: 30px;
    margin-bottom: 60px;
  }
  .projects-main-list__item {
    border: 1px solid var(--border-grey-color);
    max-width: 354px;
    margin: 0 auto;
    padding: 0;
  }
  .projects-main-list__item:hover, .projects-main-list__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .projects-main-list__item:hover .project__project-overlay {
    transform: translatey(0);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 354px;
  }
  .project__img-box-overlay {
    box-sizing: border-box;
    max-width: 354px;
    height: 294px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .project__project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 354px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(140%);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project__project-overlay > p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
  }
  .project__project-overlay p {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
    max-width: 301px;
    margin: 49px 45px 49px 24px;
  }
  .project__name-portfolio {
    font-size: var(--font-name);
    font-weight: 500;
    line-height: 2;
    padding: 20px 24px 0 24px;
  }
  .project__description-portfolio {
    font-size: var(--font-description);
    color: var(--description-color);
    line-height: var(--btn-lh);
    padding: 4px 24px 20px 24px;
  }
  .project-img {
    max-width: 354px;
    height: 294px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .projects-main-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 94px;
    padding: 0;
    gap: 30px;
    list-style: none;
  }
  .projects-main-list__item {
    border: 1px solid var(--border-grey-color);
  }
  .projects-main-list__item:hover, .projects-main-list__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .projects-main-list__item:hover .project__project-overlay {
    transform: translatey(0);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .project__img-box-overlay {
    box-sizing: border-box;
    max-width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .project__project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(140%);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project__project-overlay > p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
  }
  .project__project-overlay p {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
    max-width: 301px;
    margin: 49px 45px 49px 24px;
  }
  .project__name-portfolio {
    font-size: var(--font-name);
    font-weight: 500;
    line-height: 2;
    padding: 20px 24px 0 24px;
  }
  .project__description-portfolio {
    font-size: var(--font-description);
    color: var(--description-color);
    line-height: var(--btn-lh);
    padding: 4px 24px 20px 24px;
  }
}
/*# sourceMappingURL=main.css.map */