  .section-features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    &__article {
      display: flex;
      flex-direction: column;
    }
  }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section-features {
    justify-content: center;
    max-width: 480px;
    padding: 60px 15px;
    &__article {
      max-width: 450px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-features {
    column-gap: 30px;
    max-width: 738px;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0 45px;
    &__article {
      max-width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
.section-features {
    justify-content: space-between;
    width: 1200px;
    padding: 94px 0;
    &__article {
        width: 270px;
    }
}
}