@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 480px;
    margin: 0 auto;
    padding: 60px 15px;
    &__article {
        display: flex;
        max-width: 450px;
        flex-direction: column;
    }
}
}


// .section-features {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     width: 1200px;
//     margin: 0 auto;
//     padding: 94px 0;
//     &__article {
//         display: flex;
//         width: 270px;
//         flex-direction: column;
//     }
// }