.footer-container {
    padding-top: 60px;
    display: flex;
    &__contact {
        display: inline-block;
        width: 247px;
        margin-right: 70px;
    }
    &__join-us-box {
        display: inline-block;
        vertical-align: top;
        & p {
            color: var(--main-white-color);
            font-weight: bold;
            font-size: var(--font-text);
            line-height: var(--font-text-lh);
            letter-spacing: .03em;
        }
        }
    &__subscribe-box-form {
        display: inline-block;
        vertical-align: top;
    }
    &__button-box {
        display: inline-block;
        vertical-align: top;
        margin-top: 48px;
        @include btnBlue;
        }
}

.foot-contacts-list {
    padding: 20px 0 60px 0;
    margin: 0;
    list-style: none;
    &__item--address {
        @include addressAndphone;
    }
    &__item--mail-and-phone {
        @include addressAndphone;
        opacity: 60%;
    }
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 78px;
    &__box {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 45px;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        margin-right: 10px;
        &:hover, &:focus {
            background-color: var(--blue-color);
            @include trans;
        }
        & svg {
            fill: var(--main-white-color);
            align-self: center;
        }
    }
}

.subscribe-box {
    display: inline-block;
    vertical-align: top;
    &__label {
        color: var(--main-white-color);
        font-size: var(--font-text);
        font-weight: bold;
        line-height: 15px;
        letter-spacing: .03em;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        text-align: left;
        margin-top: 1em;
        margin-right: 12px;
        & input {
            display: flex;
            flex-direction: column;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            width: 358px;
            height: 50px;
            padding: 16px;
            color: var(--main-white-color);
            &::placeholder {
                font-size: 16px;
                letter-spacing: .03em;
            }
            &:hover, &:focus, &:active {
                border: 1px solid var(--blue-color);
                outline: none;
                @include trans;
            }
        }
    }
}

.subsribe-btn {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--main-white-color);
    font-size: var(--font-description);
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__icon {
        fill: var(--main-white-color);
        margin: 13px 0 0 24px;
    }
}