.logo {
    @include logo;
    color: var(--main-font-color);
    &--color {
        color: var(--blue-color);
    }
}

.footer-box__logo {
    @include logo;
    color: var(--main-white-color);
    &--color {
        color: var(--blue-color);
    }
}

.footer-box {
  &__logo--footer {
    text-decoration: none;
    color: var(--main-white-color);
    margin-bottom: 20px;
  }
}