@media screen and (min-width: 320px) and (max-width: 768px) {
  .projects-main-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    gap: 30px;
    list-style: none;
    margin: 40px auto 60px auto;
    &__item {
      border: 1px solid var(--border-grey-color);
      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
          0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        @include trans;
      }
      &:hover .project__project-overlay {
        transform: translatey(0);
        @include trans;
      }
    }
  }

  .project {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    &__img-box-overlay {
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    }
    &__project-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 294px;
      background-color: rgba(33, 150, 243, 0.9);
      transform: translatey(140%);
      @include trans;
      & > p {
        color: #fff;
        padding: 10px;
        margin: 0;
        font-size: 18px;
      }
      & p {
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.03em;
        color: var(--main-white-color);
        max-width: 301px;
        margin: 49px 45px 49px 24px;
      }
    }
    &__name-portfolio {
      font-size: var(--font-name);
      font-weight: 500;
      line-height: 2;
      padding: 20px 24px 0 24px;
    }
    &__description-portfolio {
      font-size: var(--font-description);
      color: var(--description-color);
      line-height: var(--btn-lh);
      padding: 4px 24px 20px 24px;
    }
  }

  .project-img {
    width: 100%;
    max-height: 294px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
.projects-main-list {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-template-rows: auto;
    list-style: none;
    max-width: 738px;
    padding: 0;
    gap: 30px;
    margin-bottom: 60px;
    &__item {
        border: 1px solid var(--border-grey-color);
        max-width: 354px;
        margin: 0 auto;
        padding: 0;
        &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            @include trans;
        }
        &:hover .project__project-overlay {
            transform: translatey(0);
            @include trans;
        }
    }
}

.project {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 354px;
    &__img-box-overlay {
        box-sizing: border-box;
        max-width: 354px;
        height: 294px;
        position: relative;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }
    &__project-overlay {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 354px;
        height: 294px;
        background-color: rgba(33, 150, 243, .9);
        transform: translatey(140%);
        @include trans;
        & > p {
            color: #fff;
            padding: 10px;
            margin: 0;
            font-size: 18px;
        }
        & p {
            font-size: 18px;
            line-height: 156%;
            letter-spacing: 0.03em;
            color: var(--main-white-color);
            max-width: 301px;
            margin: 49px 45px 49px 24px;
        }
    }
    &__name-portfolio {
        font-size: var(--font-name);
        font-weight: 500;
        line-height: 2;
        padding: 20px 24px 0 24px;
    }
    &__description-portfolio {
        font-size: var(--font-description);
        color: var(--description-color);
        line-height: var(--btn-lh);
        padding: 4px 24px 20px 24px;
    }
}

  .project-img {
    max-width: 354px;
    height: 294px;
    object-fit: cover;
  }

}

@media screen and (min-width: 1200px) {
.projects-main-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 94px;
    padding: 0;
    gap: 30px;
    list-style: none;
    &__item {
        border: 1px solid var(--border-grey-color);
        &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            @include trans;
        }
        &:hover .project__project-overlay {
            transform: translatey(0);
            @include trans;
        }
    }
}

.project {
    margin: 0;
    padding: 0;
    list-style: none;
    &__img-box-overlay {
        box-sizing: border-box;
        max-width: 370px;
        height: 294px;
        position: relative;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }
    &__project-overlay {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 294px;
        background-color: rgba(33, 150, 243, .9);
        transform: translatey(140%);
        @include trans;
        & > p {
            color: #fff;
            padding: 10px;
            margin: 0;
            font-size: 18px;
        }
        & p {
            font-size: 18px;
            line-height: 156%;
            letter-spacing: 0.03em;
            color: var(--main-white-color);
            max-width: 301px;
            margin: 49px 45px 49px 24px;
        }
    }
    &__name-portfolio {
        font-size: var(--font-name);
        font-weight: 500;
        line-height: 2;
        padding: 20px 24px 0 24px;
    }
    &__description-portfolio {
        font-size: var(--font-description);
        color: var(--description-color);
        line-height: var(--btn-lh);
        padding: 4px 24px 20px 24px;
    }
}
}
