@media screen and (min-width: 320px) and (max-width: 767px) {
.team {
    background-color: var(--light-gray-color);
    padding: 30px 15px;
    &__heading-box {
        text-align: center;

        letter-spacing: .03em;
        height: 123px;
        & h2 {
            font-size: var(--font-title);
            line-height: var(--font-title-lh);
        }
    }
    &__members-box {
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        flex-wrap: wrap;
        padding: 0 0 60px 0;
        margin: 0;
    }
}
}



// .team {
//     background-color: var(--light-gray-color);
//     padding: 94px 0;
//     &__heading-box {
//         padding: 0px 0 50px 0;
//         text-align: center;
//         margin: 0px auto;
//         letter-spacing: .03em;
//         & h2 {
//             font-size: var(--font-title);
//             line-height: var(--font-title-lh);
//         }
//     }
//     &__members-box {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         padding: 0;
//         margin: 0;
//     }
// }