:root {
    --blue-color: #2196F3;
    --main-font-color: #212121;
    --border-grey-color: #EEEEEE;
    --main-white-color: #FFFFFF;
    --background-grey-color: #2F303A;
    --light-gray-color: #F5F4FA;
    --description-color: #757575;
    --section-light-coolor: #E5E5E5;
    --border-color: #ECECEC;

    --font-logo: 26px;
    --font-header: 44px;
    --font-title: 36px;
    --font-name: 18px;
    --font-description: 16px;
    --font-text: 14px;

    --font-logo-lh: 30.52;
    --font-header-lh: 1.36;
    --font-title-lh: 1.17;
    --font-name-lh: 1.17;
    --font-description-lh: 1.17;
    --font-text-lh: 1.72;
    --btn-lh: 1.87;
    }